.ThoughtsList ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
}

.ThoughtsList{
  padding-top: 50px
}



  .ThoughtsList_button-container {
      display: flex;
      justify-content: center;
      margin-bottom: 50px;
  }


  .ThoughtList_total-thoughts{
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  .NoteListMain__add-note-button {
    margin: 0 auto 20px;
  }
  .NoteListMain__add-note-button:hover {
    background-color: #29862e;
    color: white;
  }