.ThoughtsList ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
}

.ThoughtsList{
  padding-top: 50px
}

.ThoughtsList_button-container {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}

.ThoughtsList_button-container h2{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding-bottom: 25px;
}

.ThoughtsList_headline{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
    font-size: 18px;

}
.ThoughtsList_headline a{
  text-decoration: none;
}