.LandingPage {
    margin: 35px auto;
    width: 50%;
    padding: 10px;
    background-color: rgb(239, 240, 234);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.LandingPage h1 {
    text-align: center;
    font-size: 35px;
}

.LandingPage_enter {
    display: flex;
    justify-content: center;
    
    
}

.LandingPage_enter a {
    text-decoration: none;
    background-color:#3a0606;
    color: #bdbcbc;
    padding: 5px;
    border-radius: 10px;
}