.AddThought{
  padding-top: 180px;
    display: flex;
    flex-direction: column;
  }

  .AddThought_form {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .AddThought_form input,
  .AddThought_form textarea {
    display: block;
    text-align: left;
    margin-top: 5px;
    margin-bottom: 15px;
    /* minus side padding and border */
    width: calc(100% - 16px - 2px);
    padding: 5px 8px;
    border: 1px solid #ddd;
  }
  
  .AddThought_form label {
    margin-top: 10px;
  }
  
  .AddThought_buttons {
    text-align: center;
  }
  
  .AddThought_required {
    color: #a51414;
  }
  
  .AddThought_error p {
    color: #a51414;
    margin-bottom: 5px;
  }