@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,100&display=swap');

.Thought {
    text-align: center;
    background-color: rgb(239, 240, 234);
    border-radius: 15px;
    margin: auto;
    padding: 12px;
}

.Thought_line{
    font-family: 'Montserrat', sans-serif
}

.Thought_delete{
    background-color: #3a0606;
    color: #bdbcbc;
    float: right;
    font-size: 16px;
    border-radius: 5px;
}


.Thought_delete:hover {
    background-color: #bdbcbc;
    color: black;
    cursor: pointer;
    font-weight: bold;
}

.ThoughtsList_headline{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 20px;
}
  